footer{
    background-image: url('http://utouchdesign.com/themes/envato/escort/assets/img/city_bg.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.social-icons a{
    background-color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    transition: all 0.3s;
}

.social-icons a:hover{
    background-color: #fff;
}

.social-icons a:hover .social-icon{
    color: var(--primaryColor);
}

.social-icon{
    color: #fff;
}